._vbz {
    background-image: url(ehs9je9vHcw.png);
    background-repeat: no-repeat;
    background-size: 82px 508px;
    background-position: 0 -160px;
    display: inline-block;
    height: 78px;
    line-height: 78px;
    margin: 11px 28px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 78px;
}

._vby {
    background-image: url(ehs9je9vHcw.png);
    background-repeat: no-repeat;
    background-size: 82px 508px;
    background-position: -55px -239px;
    height: 26px;
    margin: 0 auto;
    width: 26px;
}

.touch ._4g33, .touch ._5i2i {
    display: flex;
}
.touch ._52we {
    align-items: center;
}
._2-24 {
    height: 78px;
}


._52we {
    align-items: center;
    padding-top: 14px;
}

._vbw {
    color: #cfd1d5;
    font-size: 14px;
    height: 16px;
    line-height: 14px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}


div {
    display: block;
}


.touch ._4g33, .touch ._5i2i {
    display: flex;
}

.progress .bar {
    -webkit-transition: width 2.5s ease;
    -moz-transition: width 2.5s ease;
    -ms-transition: width 2.5s ease;
    transition: width 2.5s ease;
}​

.touch ._4g34 {
    flex: 1;
    min-width: 0;
    width: 0;
}
.touch ._52we {
    align-items: center;
}
.touch ._4g33, .touch ._5i2i {
    display: flex;
}
._2-24 {
    height: 78px;
}

#myBar{
    transition: width 2.5s ease;
}



