.link-forgot-password{
    display: block;
    font-weight: normal;
    margin: 16px 0 16px;
    font-family: /* Roman */ -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Lucida Grande, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, /* CJK */ Hiragino Kaku Gothic Pro, Meiryo, Hiragino Sans GB W3, /* Arabic */ Noto Naskh Arabic, Droid Arabic Naskh, Geeza Pro, Simplified Arabic, /* Thai */ Noto Sans Thai, Thonburi, Dokchampa, Droid Sans Thai, /* Sans Fallbacks */ Droid Sans Fallback, '.SFNSDisplay-Regular', /* CJK Fallbacks */ Heiti SC, Microsoft Yahei;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
    border: 0;
    color: #0073b1;
    font-weight: normal;
}
a {
    color: #008cc9;
}

.signUpContainer{
    flex: 1;
    padding: 10px;
}

.signUpLink{
    margin: 5px;
}